
.page-title {
    font-family: 'Beth Ellen', cursive;
  }


.portrait {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        margin-top: 20px
}

.main-div:hover .project-image{
    opacity: 0.3
}


.home-title {
    visibility: hidden;
    color: black;
}

.main-div:hover .home-title {
    visibility: visible;
    color: black;
}

.home-buttons {
    background: #475841
}
  
.home-buttons:hover {
    background: #6b7966
  }