body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
​
main {
  flex: 1 0 auto;
}

.nav-wrapper {
  background: #475841 !important
}

.page-title {
  font-family: 'Beth Ellen', cursive;
}

.buttons {
  background: #475841 !important
}

.buttons:hover {
  background: #6b7966 !important
}

.page-footer {
  background: #475841 !important
}

.footer-container {
  text-align: center
}

 .input-field input:focus + label {
   color: #475841 !important;
 }
 
 .row .input-field input:focus {
   border-bottom: 1px solid #475841 !important;
   box-shadow: 0 1px 0 0 #475841 !important
 }


.input-field textarea:focus + label {
  color: #475841 !important;
}

.row .input-field textarea:focus {
  border-bottom: 1px solid #475841 !important;
  box-shadow: 0 1px 0 0 #475841 !important
}

.row-a {
  background: 	#F0F0F0;
  padding: 30px;
  border: 1px solid #6b7966
}

.row-b {
  background: 	#F0F0F0;
  padding: 30px;
  border: 1px solid #6b7966
}

.container {
  width: 75vw;
  margin-top: 15px;
}

.project-container {
  padding: 20px

}

.project-button {
  margin: 5px;
  margin-top: 10px;
}

.project-header {
 text-decoration: underline;
}

.about-p {
  margin: 20px;
  margin-right: 60px;
}

.about-p2 {
  margin-top: 10px;
}
.contact-form {
  margin-top: 10vh;
}
